My_workflow_8.json
{
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1160,
        200
      ],
      "id": "ba3b56ea-adcf-4d56-8160-04469705b799",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\n  \"part\": \"snippet,statistics\",\n    \"chart\": \"mostPopular\",\n    \"regionCode\": \"VN\", \n    \"videoCategoryId\": \"20\",  \n    \"maxResults\": 10,\n    \"key\": \"AIzaSyB_mFPv4pJ0-VW6NkHysjpda7zJhmYh74k\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -940,
        580
      ],
      "id": "59df3038-b28b-4adf-a912-506113e8befa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport sys\n\n\ntry:\n    import yt_dlp\n    ytdlp_status = \"✅ yt_dlp imported OK\"\nexcept Exception as e:\n    ytdlp_status = f\"❌ Cannot import yt_dlp: {e}\"\n\nreturn [{\n    \"json\": {\n        \"python_path\": sys.executable,\n        \"site_packages\": sys.path,\n        \"yt_dlp_status\": ytdlp_status\n    }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1420,
        560
      ],
      "id": "f2c8c8ff-b376-46eb-9381-63588f13c597",
      "name": "Code2"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "minecraft"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "regionCode",
              "value": "VN"
            },
            {
              "name": "maxResults",
              "value": "20"
            },
            {
              "name": "order",
              "value": "viewCount"
            },
            {
              "name": "videoCategoryId",
              "value": "20"
            },
            {
              "name": "key",
              "value": "AIzaSyB_mFPv4pJ0-VW6NkHysjpda7zJhmYh74k"
            },
            {
              "name": "publishedAfter",
              "value": "={{ $json.publishedAfter }}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP Request - Lấy list video ytb",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -680,
        200
      ],
      "id": "8eafe466-42d8-4a7f-85a1-6c6f59db7234"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -980,
        200
      ],
      "id": "e3619181-7920-4ff9-a50a-b68500c7a298",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "const currentDate = new Date($input.first().json.currentDate);\n\n// Tính thứ trong tuần (0 = CN, 1 = Thứ 2, ..., 6 = Thứ 7)\nconst dayOfWeek = currentDate.getUTCDay();\nconst daysSinceMonday = (dayOfWeek + 6) % 7;  // đổi CN=0 thành 6\n\n// Tính ngày thứ 2 đầu tuần (giờ UTC)\nconst monday = new Date(currentDate);\nmonday.setUTCDate(currentDate.getUTCDate() - daysSinceMonday);\nmonday.setUTCHours(0, 0, 0, 0); // reset về 00:00:00Z\n\n// Trả kết quả\nreturn [\n  {\n    json: {\n      publishedAfter: monday.toISOString()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        200
      ],
      "id": "3cbec018-fdc5-4fb0-9992-ad75db59f5ec",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "const result = [];\n\n// Hàm xoá ký tự đặc biệt, giữ chữ cái, số và khoảng trắng\nfunction cleanText(text) {\n  return text.replace(/[^\\p{L}\\p{N}\\s]/gu, '');\n}\n\nfor (const item of $input.all()) {\n  const items = item.json.items || [];\n  for (const i of items) {\n    result.push({\n      json: {\n        title: cleanText(i.snippet.title),\n        description: cleanText(i.snippet.description),\n        urlvideo: `https://www.youtube.com/watch?v=${i.id.videoId}`\n      }\n    });\n  }\n}\n\nreturn result;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        200
      ],
      "id": "5b1ce7fd-e76d-4145-924c-51f21d38d14a",
      "name": "convert to json",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://0.0.0.0:8000/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "duet",
              "value": "0"
            },
            {
              "name": "brandorganic",
              "value": "0"
            },
            {
              "name": "user",
              "value": "loctruong"
            },
            {
              "name": "ailabel",
              "value": "0"
            },
            {
              "name": "proxy"
            },
            {
              "name": "stitch",
              "value": "0"
            },
            {
              "name": "brandcontent",
              "value": "0"
            },
            {
              "name": "visibility",
              "value": "0"
            },
            {
              "name": "youtube_url",
              "value": "string"
            },
            {
              "name": "title",
              "value": "Hôm nay đi biển thật vui!  #travel  #sea  #vacation"
            },
            {
              "name": "comment",
              "value": "1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video_file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        140
      ],
      "id": "46f19b62-2b14-4209-a15c-007a007f1f19",
      "name": "upload video tiktok"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.11.12.93:8000/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "urlvideo",
              "value": "={{ $json.urlvideo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        400
      ],
      "id": "d1719e2b-a502-4051-bc13-fd8aa418e1c3",
      "name": "dowload video"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -280,
        200
      ],
      "id": "df36e33c-f3ff-4b54-88d5-48861c9cb1fd",
      "name": "loop for dowload only 1 video",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        120,
        420
      ],
      "id": "d9e0f6be-3949-4c03-b1a3-046c079e0f35",
      "name": "loop for upload only one video",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.11.12.93:8000/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_path",
              "value": "={{ $json.path }}"
            },
            {
              "name": "description",
              "value": "={{ $json.message.content.title + \" \" + $json.message.content.hashtags.join(\" \") }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        540
      ],
      "id": "1b9deccd-68b8-4d7e-a6b2-ec8883d36c25",
      "name": "upload video to tiktok"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1cgxpN2iZIX82z8iuUTB4ayfmi-bQeY0fRrhHqjuOmqM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cgxpN2iZIX82z8iuUTB4ayfmi-bQeY0fRrhHqjuOmqM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}",
            "upload": "={{ $json.status }}",
            "time upload": "={{ $now.setZone('Asia/Ho_Chi_Minh').format('h:mm MM-DD HH') }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dowload",
              "displayName": "dowload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time dowload",
              "displayName": "time dowload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "upload",
              "displayName": "upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time upload",
              "displayName": "time upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1120,
        660
      ],
      "id": "88a52d84-5d82-4fc0-8a7d-1916ebc3bf58",
      "name": "update status upload",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mEjLid99haADccHG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1cgxpN2iZIX82z8iuUTB4ayfmi-bQeY0fRrhHqjuOmqM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cgxpN2iZIX82z8iuUTB4ayfmi-bQeY0fRrhHqjuOmqM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}",
            "time dowload": "={{ $now.setZone('Asia/Ho_Chi_Minh').format('h:mm MM-DD HH') }}",
            "dowload": "success"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dowload",
              "displayName": "dowload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time dowload",
              "displayName": "time dowload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "upload",
              "displayName": "upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time upload",
              "displayName": "time upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        360,
        300
      ],
      "id": "9d1daa12-772b-423b-bf36-b8f69b27d234",
      "name": "update status dowload",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mEjLid99haADccHG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cgxpN2iZIX82z8iuUTB4ayfmi-bQeY0fRrhHqjuOmqM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cgxpN2iZIX82z8iuUTB4ayfmi-bQeY0fRrhHqjuOmqM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.title }}",
            "description": "={{ $json.description }}",
            "url": "={{ $json.urlvideo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dowload",
              "displayName": "dowload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time dowload",
              "displayName": "time dowload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "upload",
              "displayName": "upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time upload",
              "displayName": "time upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        220
      ],
      "id": "9e32c10d-ebcc-4efe-8aa6-9e5562ef5147",
      "name": "add to table",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mEjLid99haADccHG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        660,
        380
      ],
      "id": "6b396a9f-75f6-46e3-af7d-c611c68bfeb7",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "bạn là 1 trợ lý ảo giúp tạo title hay lôi cuốn bằng tiếng anh và  hastag đăng tiktok việt nam chuẩn seo  từ tiêu đề video và description người dùng cung cấp , hashtag trả về dưới dạng # ví dụ (#xuhuong)",
              "role": "assistant"
            },
            {
              "content": "=tiêu đề {{ $json.path }} ,mô tả : {{ $json.description }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        300,
        520
      ],
      "id": "8aaca1db-680a-40ae-83da-6d1434433320",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "I7P8xSuvFUT0d7Dy",
          "name": "Generate tile"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        600,
        540
      ],
      "id": "028e0132-8202-4854-81ab-6a6e8f6495ee",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Lấy list video ytb": {
      "main": [
        [
          {
            "node": "convert to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "HTTP Request - Lấy list video ytb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert to json": {
      "main": [
        [
          {
            "node": "loop for dowload only 1 video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dowload video": {
      "main": [
        [
          {
            "node": "loop for upload only one video",
            "type": "main",
            "index": 0
          },
          {
            "node": "update status dowload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop for dowload only 1 video": {
      "main": [
        [],
        [
          {
            "node": "dowload video",
            "type": "main",
            "index": 0
          },
          {
            "node": "add to table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop for upload only one video": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "upload video to tiktok": {
      "main": [
        [
          {
            "node": "loop for upload only one video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update status upload": {
      "main": [
        [
          {
            "node": "loop for dowload only 1 video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "update status upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update status dowload": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "upload video to tiktok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9dd0be9c-170c-46b6-9293-ff20f2e800b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50c5b54524f64f220795880fe3773124fa0c2467bc2e88843cd37902c5a2d870"
  },
  "id": "a9j05tvPvycFYoWJ",
  "tags": []
}